## Ingeniería de Datos 
### Primeros pasos al desarrollo de Big Data

Docente :[Daniel Jiménez](www.danieljimenezm.com)

![](https://static.platzi.com/media/user_upload/Data%20Engeneers-c3377b07-4dbf-42b0-bad1-5dd57f2dde08.jpg)

In [2]:
## Revisando la versión instalada de Python
import sys
print('La versión de Python es',sys.version)

La versión de Python es 3.7.6 (default, Jan  8 2020, 13:42:34)
[Clang 4.0.1 (tags/RELEASE_401/final)]

In [19]:
## Llamando algunas librerías
import pandas as pd
import numpy as np
from datetime import datetime

## Python como calculadora

In [5]:
3+3

6

In [6]:
3**6

729

Para algunas operaciones matemáticas no es posible trabajar de manera nativa, por lo cual toca llamar a la librería math

In [7]:
import math as mt

In [8]:
a = 81
print("la raíz cuadrada de a es ",mt.sqrt(a))

la raíz cuadrada de a es  9.0

Ud, puede jugar un poco a diseñar un programa de la siguiente manera:

In [11]:
radio = 10
phi = mt.pi
area = phi * radio **2
print("El área es de", area)

El área es de 314.1592653589793

### Datos Primitivos

In [22]:
print("-"*32)
integer = 42
print("El entero es",integer)
print("-"*32)
flotante = mt.pi
print("El número flotante es", flotante)
print("-"*32)
booleano = False
print("El booleano es ",booleano)
print("-"*32)
hoy = datetime.now()
print("La fecha es ", hoy)
print("-"*32)
string = "Hola, no me se tu nombre, pero imagina que esta acá"

--------------------------------
El entero es 42
--------------------------------
El número flotante es 3.141592653589793
--------------------------------
El booleano es  False
--------------------------------
La fecha es  2021-02-28 21:16:43.727639
--------------------------------

## Listas en Python

In [23]:
# La siguiente es la estructura de una lista

marcas_de_carro = ["Mazda","BMW","Chevrolet","wolsvagen"]

In [24]:
# Traer el primer elemento de la lista
marcas_de_carro[0]

'Mazda'

In [25]:
# Traer el último elemento de la lista
marcas_de_carro[-1]

'wolsvagen'

In [26]:
## Agregar elementos a la lista
marcas_de_carro.append("Renault")
print(marcas_de_carro)

['Mazda', 'BMW', 'Chevrolet', 'wolsvagen', 'Renault']

In [27]:
## Creando una lista por rangos
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [30]:
list(range(2,21))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [35]:
## Las listas admiten diferentes tipos de categorías en los datos
["Mañana",list(range(0,9,3))]

['Mañana', [0, 3, 6]]

In [36]:
## Mirando el largo de la lista
len(list(range(2,21)))

19

## Interaciones en los datos

In [37]:
nombres = ["Alicia","Helena","Julian","David", "Andrés","Felipe"]

In [38]:
for nombre in nombres :
    print(nombre)

Alicia
Helena
Julian
David
Andrés
Felipe

In [40]:
## Ajustanto un poco el for 
for nombre in nombres :
    base = "El nombre del estudiante es " + nombre
    print(base)

El nombre del estudiante es Alicia
El nombre del estudiante es Helena
El nombre del estudiante es Julian
El nombre del estudiante es David
El nombre del estudiante es Andrés
El nombre del estudiante es Felipe

In [42]:
## Extrayendo dos elementos de una lista
nombres[2:4]

['Julian', 'David']

In [44]:
# Haciendo Abreviaturas
un_nombre = nombres[0]
print(un_nombre[:3])

Ali

## Booleanos

In [52]:
for nombre in nombres:
    if nombre=='Alicia':
        print("Es la más joven de los niños ", nombre)
    else:
        print(nombre,"Es mayor que Alicia")

Es la más joven de los niños  Alicia
Helena Es mayor que Alicia
Julian Es mayor que Alicia
David Es mayor que Alicia
Andrés Es mayor que Alicia
Felipe Es mayor que Alicia

## Verdadero o Falso

In [53]:
1==2

False

In [57]:
3*3 == 9

True

In [60]:
[list(range(20))]==[list(range(10))]

False

In [61]:
[list(range(20))]<[list(range(10))]

False

In [62]:
[list(range(20))]>[list(range(10))]

True

## Multiples Condiciones

In [65]:
for nombre in nombres:
    if nombre == ["Alicia","Helena"]:
        print("Es niña ",nombre)
    else:
        print("Es niño", nombre)

Es niño Alicia
Es niño Helena
Es niño Julian
Es niño David
Es niño Andrés
Es niño Felipe

In [68]:
for nombre in nombres:
    if nombre == "Helena":
        print("Es niña ",nombre)
    elif nombre=="Alicia":
        print("Es niña y la más peque ",nombre)
    else:
        print("Es niño", nombre)

Es niña y la más peque  Alicia
Es niña  Helena
Es niño Julian
Es niño David
Es niño Andrés
Es niño Felipe

In [71]:
## Un ejemplo muy Geek
n = 10
secuencia = [0,1]
for i in range(2,n):
    secuencia.append(secuencia[i-1]+secuencia[i-2])
print(secuencia)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]